.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80rem;
  color: green;
  padding-top: 15px;
}

.titulo {
  display: flex;
}

.row {
  padding-left: 15px;
}


.select {
  padding-top: 15px;
  width: 45rem;
  padding-left: 15px;
}

.input-field {
  width: 45rem;
}

.button {
  display: flex;
  width: 44rem;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 13rem;
  background-color: green;
  border-radius: 10px;
}
