<div mat-dialog-content>
  <div class="container">
    <h4 mat-dialog-title> Novo Campeonato </h4>

    <form [formGroup]="this.form_campeonato" class="row" >
      <div class="row">
        <mat-form-field class="select" appearance="outline">
          <mat-label>Tipo de Torneio</mat-label>
          <mat-select name="tipo_campeonato" formControlName="id_tipo_fk" >
            <mat-option *ngFor="let campe of this.tiposCampeonatos" [value]="campe.id_tipo">
               {{ campe.nome_tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div appearance="fill">
          <label>Nome do Campeonato</label>
          <input name="nome" formControlName="nome_campeonato" placeholder="Nome do Campeonato" type="text" class="validate">
        </div>

        <div appearance="fill">
          <label>Início Campeonato</label>
          <input name="data" formControlName="data_inicio_campeonato" placeholder="Início Campeonato" type="date" class="validate">
        </div>

        <div appearance="fill">
          <label>Final do Campeonato</label>
          <input name="data" formControlName="data_final_campeonato" placeholder="Final do Campeonato" type="date" class="validate">
        </div>

      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="button">
    <button id="refresh" class="waves-effect waves-light btn" [disabled]="this.form_campeonato.invalid" (click)="this.criarCampeonato()">Criar Campeonato</button>
    <button id="refresh" class="waves-effect waves-light btn"(click)="this.fechar()">Voltar</button>
</div>
