<div >
  <div class="container">
    <h4> Feedback </h4>

    <form [formGroup]="this.form_feed" class="row" >
      <div class="row">
        <mat-form-field  class="select" appearance="outline">
          <mat-label>Selecione o Feedback</mat-label>
          <mat-select name="tipo_feedback" formControlName="tipo_feedback" >
            <mat-option *ngFor="let feed of this.tiposFeedbacks" [value]="feed.id_tipo_feedback">
               {{ feed.descricao }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div appearance="fill">
          <i class="material-icons prefix">person</i>
          <input name="nome" formControlName="nome" placeholder="Nome" type="text" class="validate">
        </div>

        <div appearance="fill">
          <i class="material-icons prefix">email</i>
          <input name="email" formControlName="email" placeholder="Email" type="email" class="validate">
        </div>

        <div appearance="fill">
          <i class="material-icons prefix">message</i>
          <textarea name="mensagem" formControlName="mensagem" placeholder="Mensagem" id="icon_prefix2" class="materialize-textarea"></textarea>
        </div>

      </div>
    </form>
  </div>

  <div class="button">
    <button class="waves-effect waves-light btn" [disabled]="this.form_feed.invalid" (click)="this.enviaFeedback()">Enviar</button>
  </div>
</div>


