<div class="container">
  <h4 class="titulo"> Feedback </h4>
  <div class="row">
      <mat-form-field class="select" appearance="outline">
        <mat-label>Selecione o Feedback</mat-label>
        <mat-select>
            <mat-option value="sugestao">Sugestão</mat-option>
            <mat-option value="reportar">Reportar Problema</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <label>Nome</label>
        <input placeholder="Nome" type="text" class="validate">
      </div>

      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input placeholder="Email" type="email" class="validate">
        <label>Email</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">comment</i>
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Mensagem</label>
      </div>

      <div class="button">
        <a class="waves-effect waves-light btn">Enviar</a>
      </div>
  </div>
</div>


