<div >
  <div class="container">
    <h4> Feedback </h4>

    <div class="row">
      <mat-form-field class="select" appearance="outline">
        <mat-label>Selecione o Feedback</mat-label>
        <mat-select>
          <mat-option value="sugestao">Sugestão</mat-option>
          <mat-option value="reportar">Reportar Problema</mat-option>
        </mat-select>
      </mat-form-field>

      <div appearance="fill">
        <i class="material-icons prefix">person</i>
        <input placeholder="Nome" type="text" class="validate">
      </div>

      <div appearance="fill">
        <i class="material-icons prefix">email</i>
        <input placeholder="Email" type="email" class="validate">
      </div>

        <div appearance="fill">
          <i class="material-icons prefix">message</i>
          <textarea placeholder="Mensagem" id="icon_prefix2" class="materialize-textarea"></textarea>
        </div>

    </div>
  </div>

  <div class="button">
    <a class="waves-effect waves-light btn">Enviar</a>
  </div>
</div>


