.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
}

.titulo {
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.material-icons {
  display: flex;
  padding-top: 10px;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  width: 13rem;
  background-color: green;
  border-radius: 10px;
  margin-bottom: 5rem;
}

@media screen and (min-width: 1920px) {
  .btn {
    margin-bottom: 17.99rem;
  }
}
