<div class="criar-conta">
  <form class="formulario">
    <h2 class="form-title"> Nova Conta </h2>
      <div class="input-field">
        <input placeholder="Seu nome" type="text" class="validate">
      </div>
      <div class="input-field">
      <input placeholder="E-mail" type="email" class="validate">
      </div>
      <div class="input-field">
        <input placeholder="Crie sua senha" type="password" class="validate">
        </div>
    <div class="action">
      <a class="waves-effect waves-light btn">Criar Conta</a>
    </div>
  </form>
</div>

