<div mat-dialog-content>
  <div class="container">
    <h4 mat-dialog-title> Resultado do Jogo - {{this.nome_time_1}} x {{this.nome_time_2}} </h4>

    <form [formGroup]="this.form_resultado_jogo" class="row" >
      <div class="row">

        <div appearance="fill">
          <label>{{this.nome_time_1}}</label>
          <input name="placar_time_1" formControlName="placar_time_1" type="number" class="validate">
        </div>

        <div appearance="fill">
          <label>{{this.nome_time_2}}</label>
          <input name="placar_time_2" formControlName="placar_time_2" type="number" class="validate">
        </div>

      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="button">
    <button id="refresh" class="waves-effect waves-light btn" [disabled]="this.form_resultado_jogo.invalid" (click)="this.criarResultado()">Atualizar Resultado</button>
    <button id="refresh" class="waves-effect waves-light btn"(click)="this.fechar()">Voltar</button>
</div>

