<div class="container">
  <div class="header">
    <h4 class="titulo"> Jogos </h4>
    <div class="buttons">
      <button class="button" mat-fab color="primary" (click)="this.exportExcel()" matTooltip="Exportar Excel">
        <mat-icon>insert_drive_file</mat-icon>
      </button>
    </div>
  </div>

  <div class="input-field">
    <input type="text" placeholder="Pesquisar Colunas" class="validate" (keyup)="filtrar($event)">
  </div>

</div>

<div class="tabela" >
  <div class="mat-elevation-z8" #TABLE>
    <table mat-table #table [dataSource]="this.dataSource" matSort>

      <ng-container matColumnDef="time1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label"> </span>
          {{element.time_1.nome_time}} </td>
      </ng-container>

      <ng-container matColumnDef="placarTime1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element" class="placarTime1">
          <span class="mobile-label"> </span>
          {{ element.jogo_resultado[0].placar_time_1}} </td>
      </ng-container>

      <ng-container matColumnDef="placarTime2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element" class="placarTime2">
          <span class="mobile-label"> </span>
          {{ element.jogo_resultado[0].placar_time_2}} </td>
      </ng-container>

      <ng-container  matColumnDef="time2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label"> </span>
          {{element.time_2.nome_time}} </td>
      </ng-container>

      <ng-container  matColumnDef="data_ida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Ida </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Data de Ida: </span>
          {{element.data_ida | date: 'dd/MMMM/yyyy' : '+1' : 'pt-br'}} </td>
      </ng-container>

      <ng-container matColumnDef="local_ida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Local de Ida </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Local de Ida: </span>
          {{ element.local_ida }} </td>
      </ng-container>

      <ng-container matColumnDef="data_volta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Volta </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Data de Volta: </span>
          {{element.data_volta | date: 'dd/MMMM/yyyy' : '+1' : 'pt-br'}} </td>
      </ng-container>

      <ng-container matColumnDef="local_volta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Local de Volta </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Local de Volta: </span>
          {{ element.local_volta }} </td>
      </ng-container>

      <ng-container matColumnDef="resultado">
        <th  mat-header-cell *matHeaderCellDef class="botao"> Definir Resultado</th>
        <td  mat-cell *matCellDef="let element" class="botao">
          <button class="button" mat-mini-fab color="warn" (click)="criarResultado(element.id_jogo)" matTooltip="Definir Resultado">
            <mat-icon>add_to_queue</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

      <mat-paginator [length]="100"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
      </mat-paginator>

  </div>
</div>
