.container {
  display: flex;
  flex-direction: column;
  color: green;
  padding-top: 15px;
}

.teste {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.input-field {
  display: flex;
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
}

.tabela {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20px;
  width: 45rem;
  margin-bottom: 6.89rem;
}

.botao {
  text-align: center;
}

.button {
  background-color: green;
}

.mat-elevation-z8 {
  width: 83rem;
}

.mobile-label {
  display: none;
  text-align: center;
}

.action {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  background-color: green;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media(max-width: 600px) {
  .mobile-label {
    display: flex;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-cell {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
  }

}

@media screen and (min-width: 1920px) {
  .tabela {
    margin-bottom: 27.69rem;
  }
}
