<div class="container">
  <div class="header">
    <h4 class="titulo"> Times </h4>
    <div class="buttons">
      <button class="button" mat-fab color="warn" (click)="this.openDialog()" matTooltip="Criar Times">
        <mat-icon>add</mat-icon>
      </button>
      <button class="button" mat-fab color="primary" (click)="this.exportExcel()" matTooltip="Exportar Excel">
        <mat-icon>insert_drive_file</mat-icon>
      </button>
    </div>
  </div>

  <div class="input-field">
    <input type="text" placeholder="Pesquisar Colunas" class="validate" (keyup)="filtrar($event)">
  </div>

  <div class="tabela">
    <div class="mat-elevation-z8"#TABLE>
      <table mat-table #table [dataSource]="this.dataSource" >

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef class="teste"> Nome do Time </th>
          <td mat-cell *matCellDef="let element" class="teste">
            <span class="mobile-label">Nome do Time: </span>
            {{element.nome_time}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator  [length]="100"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
      </mat-paginator>
    </div>

  </div>

  <div class="action">
    <button class="waves-effect waves-light btn" (click)="Finish(id)">Finalizar Cadastro</button>
    <button class="waves-effect waves-light btn" (click)="this.voltar()">Voltar</button>
  </div>
</div>





