<div class="header">
  <img class="img" src="../../../assets/logo.jpeg">
</div>

<div class="login">
  <form [formGroup]="this.userForm" class="formulario" (ngSubmit)="onLogin()">
    <h2 class="form-title"> Entrar </h2>
      <div class="input-field">
        <input placeholder="Email" type="email" class="validate" formControlName="email" required>
      </div>
      <div class="input-field">
      <input placeholder="Senha" type="password" class="validate" formControlName="senha" required>
      </div>
    <div class="action">
      <button class="waves-effect waves-light btn">Entrar</button>
      <button class="waves-effect waves-light btn" routerLink="/cadastro">Criar Conta</button>
    </div>
  </form>
</div>
