.container {
  display: flex;
  flex-direction: column;
  color: green;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: green;
  padding-top: 15px;
}

.button {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.btn {
  width: 13rem;
  background-color: green;
  border-radius: 10px;
}

.tabela {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 6.89rem;
}

.center-tabela {
  text-align: center;
}

.mat-elevation-z8 {
  width: 60rem;
}

.salvar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.jogos {
  width: 13rem;
  background-color: green;
  border-radius: 10px;
  margin-bottom: 5rem;
}
