.container {
  display: flex;
  flex-direction: column;
  color: green;
  padding-top: 15px;
}

.header {
  display: flex;
  justify-content: space-between;

}

.tabela {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.button {
  background-color: green;
}

.mat-elevation-z8 {
  width: 85rem;
}
