<div class="container">
  <div class="header">
    <h4 class="titulo"> Campeonatos </h4>
    <button class="button" mat-fab color="warn" (click)="this.openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="tabela">
  <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo do Campeonato </th>
      <td mat-cell *matCellDef="let element"> {{ element.tipo_campeonato.nome_tipo }} </td>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome_campeonato}} </td>
    </ng-container>

    <ng-container  matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef> Data do Campeonato </th>
      <td mat-cell *matCellDef="let element"> {{element.data_campeonato | date: "dd/MMMM/yyyy" :"":"pt-BR" }} </td>
    </ng-container>

    <ng-container matColumnDef="Local">
      <th mat-header-cell *matHeaderCellDef> Local do Campeonato </th>
      <td mat-cell *matCellDef="let element"> {{element.local_campeonato }} </td>
    </ng-container>

    <ng-container matColumnDef="botao">
      <th  mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef>
        <button class="button" mat-mini-fab color="warn" routerLink="/editar">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>



