.footer-distributed {
  display: flex;
  position: relative;
  bottom: 0;
  padding: 5px 10px 24px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  width: 100%;
}

.footer-distributed .footer-icons a{
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 2px;

	font-size: 20px;
	color: green;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}


.footer-distributed .footer-right{
	width: 30%;
}

.qfute{
  font-size: xx-large;
  font-weight: 400;
  color: white;
}

.footer-company-name{
  margin: 0;
  color: white;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  padding-left: 15px;
}

.img{
  float: left;
  text-align: center;
  height: 55px;
  width: 90px;
  padding-right: 10px;
}

.footer-center {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: white;
}

.footer-right {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.footer-distributed .footer-center i{
	background-color:  #ffffff;
	color: green;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right .img{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
