footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.page-footer{
  padding-top: 5px;
  background-color: green;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.image {
  display: flex;
  margin-left: 10px;
}

.fa-whatsapp{
  display: flex;
  margin-right: 15px;
  color: white;
}

.fa-instagram{
  color: white;
}



